matplotlib
numpy
pandas
scipy
sklearn
cvxpy
numba # python < 3.11
autopep8
pylint
sympy
opencv-python

jupyter
jupyterlab
ipykernel

# HW5 Kaggle Competition
timm
Pillow
torch
torchsummary
torchvision
pydantic
tdqm

# Experimenting with existing bayesian optimization solution
bayesian-optimization
prettytable
pymc
seaborn